<?xml version="1.0"?>
<ruleset>
    <arg name="basepath" value="." />
    <arg name="extensions" value="php" /> <!-- which extensions to look for -->
    <arg name="parallel" value="80" /> <!-- how many parallel processes to run -->
    <arg name="colors" />
    <arg name="cache" value=".phpcs.cache" /> <!-- cache the results and don't commit them -->
    <arg value="np" /> <!-- n = ignore warnings, p = show progress -->

    <file>assertarraysubset-autoload.php</file>
    <file>src</file>
    <file>tests</file>

    <rule ref="DMS">
        <exclude name="SlevomatCodingStandard.TypeHints.PropertyTypeHint.MissingNativeTypeHint"/>
    </rule>

    <rule ref="SlevomatCodingStandard.Operators.DisallowEqualOperators.DisallowedEqualOperator">
        <exclude-pattern>src/Constraint/ArraySubset\.php</exclude-pattern>
    </rule>

    <!-- BC-layer: exclude rules which would prevent code from being PHP cross-version compatible. -->
    <rule ref="Squiz.Classes.ClassFileName.NoMatch">
        <exclude-pattern>assertarraysubset-autoload\.php</exclude-pattern>
        <exclude-pattern>src/ArraySubsetAssertsEmpty\.php</exclude-pattern>
        <exclude-pattern>src/AssertFallThrough\.php</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.DeclareStrictTypes.DeclareStrictTypesMissing">
        <exclude-pattern>assertarraysubset-autoload\.php</exclude-pattern>
        <exclude-pattern>src/ArraySubsetAssertsEmpty\.php</exclude-pattern>
        <exclude-pattern>src/AssertFallThrough\.php</exclude-pattern>
        <exclude-pattern>tests/bootstrap\.php</exclude-pattern>
        <exclude-pattern>tests/Availability/*\.php</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.Namespaces.ReferenceUsedNamesOnly.ReferenceViaFullyQualifiedName">
        <exclude-pattern>assertarraysubset-autoload\.php</exclude-pattern>
        <exclude-pattern>tests/Availability/*\.php</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.ParameterTypeHint.MissingNativeTypeHint">
        <exclude-pattern>assertarraysubset-autoload\.php</exclude-pattern>
        <exclude-pattern>src/AssertFallThrough\.php</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.ReturnTypeHint.MissingNativeTypeHint">
        <exclude-pattern>assertarraysubset-autoload\.php</exclude-pattern>
        <exclude-pattern>src/AssertFallThrough\.php</exclude-pattern>
        <exclude-pattern>tests/Availability/*\.php</exclude-pattern>
    </rule>

</ruleset>
