name: Unit Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "*"
  schedule:
  - cron: '0 0 * * *'
  # Allow manually triggering the workflow.
  workflow_dispatch:

jobs:
  php-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    env:
      COMPOSER_NO_INTERACTION: 1

    strategy:
      matrix:
        php: ['8.0', '7.4', '7.3', '7.2', '7.1', '7.0', '5.6', '5.5', '5.4']
        dependency-version: ['prefer-stable']
        experimental: [false]

        include:
          - php: '7.3'
            dependency-version: 'prefer-lowest'
            experimental: false
          - php: '7.4'
            dependency-version: 'prefer-lowest'
            experimental: false
          - php: '8.0'
            dependency-version: 'prefer-lowest'
            experimental: false

          - php: '8.1'
            dependency-version: 'prefer-stable'
            experimental: true

    name: P${{ matrix.php }} - ${{ matrix.dependency-version }}
    continue-on-error: ${{ matrix.experimental }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v2.3.4

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
        coverage: none
        tools: composer

    # Remove the coding standards package as it has a higher minimum PHP
    # requirement and would prevent running the tests on older PHP versions.
    - name: 'Composer: remove CS dependency'
      run: composer remove --dev --no-update dms/coding-standard

    - name: 'Composer: update PHPUnit for testing lowest'
      if: ${{ matrix.dependency-version == 'prefer-lowest' }}
      run: composer require --no-update phpunit/phpunit:"^9.0"

    - name: Install dependencies - normal
      if: ${{ matrix.php < 8.1 }}
      run: |
        composer update --${{ matrix.dependency-version }} --prefer-dist --no-progress

    - name: Install dependencies - ignore platform reqs
      if: ${{ matrix.php >= 8.1 }}
      run: |
        composer update --${{ matrix.dependency-version }} --prefer-dist --no-progress --ignore-platform-reqs

    - name: Execute Unit Tests
      run: vendor/bin/phpunit
